<div class="container" style="margin:0 auto">

  <div class="row">
    <!-- chart -->
    <div id="chart-wrapper">
        
        <h4 class="text-center"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;Simple stock chart example&nbsp;&nbsp;<i>By: Andrej Stupar - andr.stup@gmail.com</i></h4>
      <chart id="chart" type="StockChart" [options]="options" ></chart>
    </div>
  </div>
  <!-- view list of stock -->
  <div class="row">
    <p class="displayed-stocks-text text-left">Displayed stocks:</p>
  </div>
  <div class="row">

    <div *ngIf="stockList.length > 0" class="row">
      <div *ngFor="let item of stockList" id="stock-list-ul">
        <span #stock [style.color]="item.color">{{item.name}}</span>
        <i (click)="deleteOne(stock.innerHTML)" class="fa fa-times"></i>

      </div>
    </div>
  </div>
  <div class="row">
    <!-- form -->
    
    <form [formGroup]="_formGroup" (ngSubmit)="addNew(_formGroup.value)" class="form-inline form">
      <label class="sr-only" for="inlineFormInput"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div id="form-label-wrapper" class="input-group-addon">Syncs in realtime across clients</div>
        <input 
              #myInput
              id="inlineFormInput" 
              type="text" 
              formControlName="choice" 
              class="form-control"
              required>
        <input type="submit" class="btn btn-default">
      </div>
    </form>
  </div>
  <div *ngIf="infoMessage" class="row">
    <p id="infoMessage">{{infoMessage}}</p>
  </div>
  <div class="row">
    <p class="text-center max-stock-text">* Maximum of 10 stock</p>
  </div>
  <div class="row stock-examples-list-wrapper">
    <ul>
      <li><h5>Examples of stocks names from the New York Stock Exchange (NYSE)</h5></li>
      <li><b>GOOG</b> - <i>Google</i></li>
      <li><b>FB</b> - <i>Facebook</i></li>
      <li><b>CSCO</b> - <i>Cisco Systems, Inc.</i></li>
      <li><b>LMT</b> - <i>Lockeed Martin</i></li>
      <li><b>AAPL</b> - <i>Apple</i></li>
      <li><b>TSLA</b> - <i>Tesla, Inc</i></li>
      <li><b>TWTR</b> - <i>Twitter, Inc</i></li>
      <li><b>INTC</b> - <i>Intel Corporation</i></li>
    </ul>
  </div>
</div>



