body {
  font-family: "lato", sans-serif;
  margin:0;
  padding:0;
}
.displayed-stocks-text {

  font-size:0.9em;
  color:#d3d3d3;
}
/* chart */
#chart-wrapper {
  width:100%;
}
#chart-wrapper>h4 {
  padding:20px;
}
#chart-wrapper>h4>i:nth-child(2) {
  font-size: 0.5em;
  color:#666;
}

#chart {
  display: block;
  width: 100%;
  margin:0 auto;
}



#stock-list-ul {
  margin:0px 10px 0px 10px;
}
#stock-list-ul span {

  padding:5px;
  margin:0px 5px 0px 5px;
  font-weight: 500;
}
#stock-list-ul i {
  margin: 0px 2px 0px 2px;
  color:rgb(181, 36, 36);
}
/* form */
.form {
  margin:0 auto;
  padding: 20px;
  padding-bottom: 0px;
}
#form-label-wrapper {
  background-color:#ffffff !important;
  font-size: 0.7em;

}
#infoMessage {
  background:#ffac9f;
  margin:0 auto;
  padding:30px;
  border: 3px solid #cecece;
  border-radius:50% 0 50% 50%;
  margin-top:5px;

} 

/* text below form */
.max-stock-text {
  width:50%;
  margin:0 auto;
  font-size:0.7em;
  color:#d3d3d3;
}
.stock-examples-list-wrapper {
  margin-top:20px;
}
.stock-examples-list-wrapper>ul>li:nth-child(1) {
  list-style: none;
  color:#767676;
  padding:10px;
}
.stock-examples-list-wrapper>ul>li {
  list-style: none;
}